<h1>Listing image_files</h1>

<table>
  <tr>
    <th>Path</th>
    <th>Gif</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @image_files.each do |image_file| %>
  <tr>
    <td><%= image_file.path %></td>
    <td><%= image_file.gif_id %></td>
    <td><%= link_to 'Show', image_file %></td>
    <td><%= link_to 'Edit', edit_image_file_path(image_file) %></td>
    <td><%= link_to 'Destroy', image_file, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Image file', new_image_file_path %>
